<header>
  <div class="container">

  <a href="/" style="text-decoration: none;"><img src="/assets/images/vea-blue.jpg" class="avatar" alt="nardev"></a><h1>{{ site.title | default: site.github.repository_name }}</h1>

    <h2>{{ site.description | default: site.github.project_tagline }}</h2>

    <section id="links">
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
      {% endif %}

      <div class="social">
        <a href="https://github.com/nardev" target="_blank" class="btn btn-social-icon btn-github"> <span class="fa fa-lg fa-github"></span>&nbsp;&nbsp;Github</a>
        <a href="https://ba.linkedin.com/in/vedran-alajbegovic-58a79212" target="_blank" class="btn btn-social-icon btn-linkedin"> <span class="fa fa-lg fa-linkedin"></span>&nbsp;&nbsp;Linked In</a>
        <a href="https://twitter.com/_E74AV_" target="_blank" class="btn btn-social-icon btn-twitter"> <span class="fa fa-lg fa-twitter"></span>&nbsp;&nbsp;Twitter</a>
        <a href="https://www.instagram.com/e74av" target="_blank" class="btn btn-social-icon btn-instagram"> <span class="fa fa-lg fa-instagram"></span>&nbsp;&nbsp;Instagram</a>
        <a href="https://www.youtube.com/channel/UCkaE5Ugss1A0bQMBXdHiLFQ/featured" target="_blank" class="btn btn-social-icon btn-youtube"> <span class="fa fa-lg fa-youtube"></span>&nbsp;&nbsp;YouTube</a>
      </div>

    </section>

    <section id="menu">
      <a href="http://nardev.org" style="color: #b5e853; text-decoration: none;">all</a>
      <a href="/projects" style="color: #b5e853; text-decoration: none;">projects</a>
      <a href="/experiences" style="color: #b5e853; text-decoration: none;">experiences</a>
      <a href="/sarajevo" style="color: #b5e853; text-decoration: none;">sarajevo</a>
      <a href="/microbit" style="color: #b5e853; text-decoration: none;">micro:bit</a>
      <a href="/about" style="color: #b5e853; text-decoration: none;">about&contact</a>
    </section>

  </div>
</header>
