<section id="right_content" style="float: right; width: 200px;">

<a href="https://www.tindie.com/stores/nardev/?ref=offsite_badges&utm_source=sellers_nardev&utm_medium=badges&utm_campaign=badge_large" target="_blank">
<img src="https://d2ss6ovg47m0r5.cloudfront.net/badges/tindie-larges.png" alt="I sell on Tindie" width="200" height="104"> </a>
<br />
<br />
<a href="/microbit" alt="micro:bit" width="200" height="104">
	<img src="/assets/images/microbit.png" alt="micro:bit" width="200">
</a>
<br />
<br />
<a href="https://www.buymeacoffee.com/usci8e4yG" target="_blank" alt="Buy Me A Coffee!" width="200"><img src="https://bmc-cdn.nyc3.digitaloceanspaces.com/BMC-button-images/custom_images/orange_img.png" alt="Buy Me A Coffee" style="height: auto !important; width: 100%;" ></a>
</section>
